 .u-section-1 {
  background-image: url("images/minimal-home-office-interior-design-with-fiddle-leaf-fig-plant.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 630px;
}

.u-section-1 .u-group-1 {
  width: 320px;
  min-height: 474px;
  height: auto;
  margin: 40px 60px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 0 0;
}

.u-section-1 .u-tabs-1 {
  min-height: 451px;
  height: auto;
  width: 300px;
  margin: 2px auto 0;
}

.u-section-1 .u-tab-link-1 {
  background-image: none;
}

.u-section-1 .u-tab-link-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 15px auto 0;
}

.u-section-1 .u-form-1 {
  height: 363px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  width: 270px;
  margin: 0 auto;
}

.u-section-1 .u-form-group-3 {
  --progress: 0%;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  padding: 7px 0 8px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 14px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 15px auto 0;
}

.u-section-1 .u-form-2 {
  height: 363px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  width: 270px;
  margin: 0 auto;
}

.u-section-1 .u-form-group-7 {
  --progress: 0%;
}

.u-section-1 .u-btn-2 {
  width: 100%;
  padding: 7px 0 8px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-form-1 {
    width: 280px;
  }

  .u-section-1 .u-form-2 {
    width: 280px;
    margin-left: -4px;
    margin-right: -4px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 20px;
  }

  .u-section-1 .u-form-1 {
    width: 270px;
  }

  .u-section-1 .u-form-2 {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 680px;
}

.u-section-2 .u-text-1 {
  margin: 56px 0 0;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 60px;
}